services:
  db:
    image: mysql:8
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 2025
      MYSQL_DATABASE: mappy_db
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  backend:
    build: ./server
    container_name: server
    restart: always
    ports:
      - "8080:8080"
    environment:
      ConnectionStrings__DefaultConnection: "server=db;port=3306;user=root;password=2025;database=mappy_db"
      DOTNET_RUNNING_IN_CONTAINER: "true"
      DOTNET_USE_POLLING_FILE_WATCHER: "1"
    depends_on:
      - db

  frontend:
    build: ./client
    container_name: client
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_ENVIRONMENT=docker
      - NEXT_PUBLIC_API_URL=http://backend:8080/api/v1
    depends_on:
      - backend

volumes:
  mysql-data:
